.ipynb_checkpoints
# might have to remove this later, if we want to add nbs
*.ipynb

_version.py
*.egg-info
.eggs/
build/
__pycache__


.DS_Store
.vscode/

source/aerobulk/aerobulk/
source/fortran/mod_aerobulk_wrap-f2pywrappers2.f90
source/fortran/mod_aerobulk_wrapmodule.c
